[flex] {
  box-sizing: border-box;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* Full Page & Overflow
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body, .main {
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: $main-background;
}


/* Main Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main {

  // Flexbox
  // ------------------------------
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;

  // Wrap Children
  // ------------------------------
  flex-wrap: wrap;

  // Child Alignment
  // ------------------------------

}


// Small Viewports
// ------------------------------
@media (max-width: $viewport-sm - 1) {
  .main {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
}


// Non-Mobile Viewports
// ------------------------------
@media (min-width: $viewport-sm) {
  .main {
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: flex-start;  // Main Axis
    align-items: flex-start;      // Cross Axis
  }
}
