/* Base Colours
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$gpq-color-base-black     : rgba(   0,   0,   0, 1.00 );  // #000000 - plain black
$gpq-color-base-white     : rgba( 255, 255, 255, 1.00 );  // #ffffff - plain white
$gpq-color-base-gray      : rgba(  34,  34,  34, 1.00 );  // #222222 - gpquery grey
$gpq-color-base-offwhite  : rgba( 192, 192, 192, 1.00 );  // #c0c0c0 - silver arrows

$gpq-color-base-red       : rgba( 204,   0,   0, 1.00 );  // #cc0000 - rosso corsa
$gpq-color-base-green     : rgba(   1,  66,  37, 1.00 );  // #014225 - british racing green
$gpq-color-base-blue      : rgba(   0,  47, 108, 1.00 );  // #002f6c - finnish flag blue
$gpq-color-base-purple    : rgba( 108,  15, 118, 1.00 );  // #6c0f76 - silk cut jaguar purple
$gpq-color-base-orange    : rgba( 255, 123,   8, 1.00 );  // #ff7b08 - mclaren orange
$gpq-color-base-yellow    : rgba( 255, 233,  54, 1.00 );  // #ffe936 - belgian flag yellow

/* Lighten 16%
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Primary Palette
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Primary Palette
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Primary Palette
–––––––––––––––––––––––––––––––––––––––––––––––––– */
