/* Navbar Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$navbar-height:               36px;
$navbar-padding:              16px;

// Navbar Buttons
// ------------------------------
$navbar-font-size:            18px;
$navbar-background-color:     rgba(34, 34, 34, 1.00);

// Navbar Buttons
// ------------------------------
$navbar-button-height:        24px;
$navbar-button-width:         24px;
$navbar-button-line-height:   24px;

// Brand Stripes
// ------------------------------
$brand-text-font-size:        20px;


/* Navbar Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

md-toolbar.navbar {

  z-index:          1000;
  width:            100%;
  min-width:        100%;
  max-width:        100%;
  position:         absolute;
  top:              0;
  left:             0;
  right:            0;


  font-size:        $navbar-font-size;
  background-color: $navbar-background-color;

  // Reduced Height
  // ------------------------------
  height:           $navbar-height;
  min-height:       $navbar-height;
  max-height:       $navbar-height;

  .md-toolbar-tools {

    height:         $navbar-height;
    min-height:     $navbar-height;
    max-height:     $navbar-height;

    // Navbar Buttons
    // ------------------------------
    .md-icon-button {
      height:       $navbar-button-height;
      width:        $navbar-button-width;
      line-height:  $navbar-button-line-height;
    }

  }
}


/* Navbar Buttons (temporary md-icon fix)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.paypal-icon {
  height: 83.33%;
  width:  83.33%;
}
.bitcoin-icon {
  height: 95.83%;
}
.twitter-icon {
  height: 83.33%;
  width:  95.83%;
}


/* Brand Stripes & Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.brand {
  line-height:      $navbar-button-line-height;
  height:           $navbar-button-height;

  .brand-stripes,
  .brand-text {
    display:        inline-block;
    vertical-align: text-bottom;
  }

  // Brand Text
  // ------------------------------
  .brand-text {
    font-size:      $brand-text-font-size;
    text-transform: none;
  }
}
