<md-toolbar class="navbar">

  <div class="md-toolbar-tools">

    <!-- Brand
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <md-button class="brand">
      <svg class="brand-stripes" height="24" width="60">
        <g class="mercedes">
          <path d="M24 0 h-8 l-14 24 h8 Z" stroke="#2ab4a5" stroke-width="1" fill="#2ab4a5"/>
        </g>
        <g class="ferrari">
          <path d="M40 0 h-8 l-14 24 h8 Z" stroke="#c30000" stroke-width="1" fill="#c30000"/>
        </g>
        <g class="williams">
          <path d="M56 0 h-8 l-14 24 h8 Z" stroke="#999999" stroke-width="1" fill="#ffffff"/>
        </g>
      </svg>
      <h1 class="brand-text">poppyGP</h1>
    </md-button>

    <span flex></span>

    <!-- Buttons
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <md-button class="md-icon-button"
               aria-label="Donate via PayPal">
      <md-tooltip md-autohide>Donate via PayPal</md-tooltip>
      <md-icon md-svg-src="assets/svg/paypal.svg"
               class="paypal-icon">
      </md-icon>
    </md-button>
    <md-button class="md-icon-button"
               aria-label="@poppyGrandPrix on Twitter">
      <md-tooltip md-autohide>@poppyGrandPrix on Twitter</md-tooltip>
      <md-icon md-svg-src="assets/svg/twitter.svg"
               class="twitter-icon">
      </md-icon>
    </md-button>
    <md-button class="md-icon-button"
               aria-label="Open Sidenav">
      <md-tooltip md-autohide>Open Sidenav</md-tooltip>
      <md-icon md-svg-src="assets/svg/menu.svg"
               class="menu-icon">
      </md-icon>
    </md-button>



  </div>

</md-toolbar>
