/* Navbar Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// Brand Stripes
// ------------------------------
$brand-text-font-size:        20px;


/* Navbar Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

md-toolbar.navbar {

  z-index:          1000;
  width:            100%;
  min-width:        100%;
  max-width:        100%;
  position:         absolute;
  top:              0;
  left:             0;
  right:            0;


  font-size:        $toolbar-font-size;
  background-color: $toolbar-background-color;

}


/* Navbar Buttons (temporary md-icon fix)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.paypal-icon {
  svg {
    height: 83.33%;
    width:  83.33%;
  }
}
.bitcoin-icon {
  svg {
    height: 95.83%;
  }
}
.twitter-icon {
  svg {
    height: 83.33%;
    width:  95.83%;
  }
}


/* Brand Stripes & Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.brand {
  line-height:      $toolbar-button-line-height;
  height:           $toolbar-button-height;

  .brand-stripes,
  .brand-text {
    display:        inline-block;
    vertical-align: text-bottom;
  }

  // Brand Text
  // ------------------------------
  .brand-text {
    font-size:      $brand-text-font-size;
    text-transform: none;
  }
}
