$content-padding:           16px;
$content-bar-height:        36px;
$content-bar-background:    rgba(34, 34, 34, 1.00);

$content-font-spacing:      0.005em;
$content-font-weight:       400;
$content-font-color:        rgba(0, 0, 0, 0.87);
$content-background-color:  rgba(204, 212, 204, 1.00);

gp-content {
  box-sizing: border-box;
  //display: flex;
  display: block;

  position: relative;
  z-index: 2;

  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;

  padding-top: $content-bar-height;

  background-color: $content-background-color;

  overflow: hidden;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

/* Content Inner Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.content {
  overflow-y: auto;
  overflow-x: hidden;

  min-width: 100%;
  min-height: 100%;

  padding-right: $content-padding;
  padding-left: $content-padding;

  /* Content Footer Bar
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .content-footer {
    display: flex;
    align-items: center;
    flex-direction: row;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    @include absolute-height(32px);
    @include absolute-width(100%);

    background-color: $content-bar-background;

  }
}

/* Mobile Viewport Behaviour
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: $viewport-sm) {

  // Auto-Hide Content Footer Bar
  // ------------------------------
  .content-footer {
    &.ng-enter {
      oapcity: 0;
      transform: translate3d(0, 100%, 0);
    }
    &.ng-enter-active {
      opacity: 1;
      display: block;
      transform: translate3d(0, 8px, 0) !important;
    }
    &.ng-leave-active {
      transform: translate3d(0, 100%, 0) !important;
      transitino: $swift-ease-in;
    }

  }
}




/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// Non-Mobile Viewports
// ------------------------------
@media (min-width: $viewport-sm) {
  gp-content {
    @include absolute-height(100%);
  }
}

// Viewports 450px-
// ------------------------------
@media (max-width: $viewport-xs - 1) {
  gp-content {
    @include absolute-width(100%);
    @include absolute-height($content-height-xs);
  }
}

// Viewports 450 - 600px
// ------------------------------
@media (min-width: $viewport-xs) and (max-width: $viewport-sm) {
  gp-content {
    @include absolute-width(100%);
    @include absolute-height($content-height-sm);
  }
}

// Viewports 600 - 960px
// ------------------------------
@media (min-width: $viewport-sm) and (max-width: $viewport-lg - 1) {
  gp-content {
    @include video-width($content-width-sm);
  }
}


// Viewports 960 - 1200px
// ------------------------------
@media (min-width: $viewport-md) and (max-width: $viewport-xl - 1) {
  gp-content {
    @include video-width($content-width-md);
  }
}


// Viewports 1200 - 1600px
// ------------------------------
@media (min-width: $viewport-lg) and (max-width: $viewport-xl - 1) {
  gp-content {
    @include video-width($content-width-lg);
  }
}


// Viewports 1600px+
// ------------------------------
@media (min-width: $viewport-xl) {
  gp-content {
    @include video-width($content-width-xl);
  }
}
