@media (min-width: 600px) and (max-width: 720px) {
  md-sidenav.schedule {
    @include absolute-width(256px);
  }
}

gp-schedule {

  @include absolute-width(100%);

  padding-top: 36px;
  box-size: border-box;
  display: flex;

  md-toolbar {
    @include absolute-height(24px);
    >.md-toolbar-tools {
      @include absolute-height(24px);
    }
  }
  md-content {

  }
}
