gp-video {
  box-size: border-box;
  display: flex;
  position: relative;
  padding-bottom: 36px;
  .player {
    //@include absolute-width(100%);
    //@include absolute-height(100%);
  }
  .statusbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 36px;
    height: 36px;
    background-color: transparent;
    .md-toolbar-tools {
      background-color: transparent;
      font-size: 16px;
    }
  }
}
@media (max-width: ($viewport-sm - 1)) {
  .player {
    //@include absolute-height(100%);
  }
}

@media (min-width: $viewport-sm) {

  // UStream Player begins graceful degradation when width < 480px
  .player {
    min-width: 480px !important;
  }

}
