<md-toolbar class="sidebar-controls">
  <div class="md-toolbar-tools">

    <!-- Top-left close button on regular viewports -->
    <md-button class="md-icon-button"
               hide-sm hide-md
               aria-label="Close Content">
      <md-tooltip md-delay="500"
                  md-autohide>
        Close Content
      </md-tooltip>
      <md-icon md-svg-src="assets/svg/arrow-right.svg" class="menu-icon"></md-icon>
    </md-button>

    <span flex=""></span>

    <!-- Top-right close button on small viewports -->
    <md-button class="md-icon-button"
               hide-gt-md
               aria-label="Close Content">
      <md-tooltip md-delay="500"
                  md-autohide>
        Close Content
      </md-tooltip>
      <md-icon md-svg-src="assets/svg/close.svg" class="menu-icon"></md-icon>
    </md-button>
  </div>
</md-toolbar>


<nav class="sidebar-nav"
     role="navigation">

  <md-tabs class="nav-tabs"
           md-border-bottom
           md-stretch-tabs="always"
           md-no-pagination
           md-center-tabs
           md-selected="vm.tabActive">
    <md-tab ng-repeat="tab in vm.navTabs">
      <md-tooltip md-delay="500"
                  md-autohide="true">
        {{ tab.label }}
      </md-tooltip>
      <i class="material-icons">{{ tab.icon }}</i>

    </md-tab>
  </md-tabs>

</nav>


<md-content class="sidebar-content"
            flex="">
  <iframe class="kiwiirc"
          src="https://kiwiirc.com/client/irc.snoonet.org/?nick=poppyGP-?#f1">
  </iframe>




</md-content>
