/* Foreground Colours
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$md-foreground-1          : rgba( 255, 255, 255, 0.87 );
$md-foreground-2          : rgba( 255, 255, 255, 0.54 );
$md-foreground-3          : rgba( 255, 255, 255, 0.38 );
$md-foreground-4          : rgba( 255, 255, 255, 0.12 );


/* Background Colours
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$md-background            : rgba(   0,   0,   0, 1.00 );
$md-background-contrast   : rgba(   0,   0,   0, 0.54 );
$md-background-light      : #616161;
$md-background-lighter    : #9e9e9e;


/* Primary Colours
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$md-primary               : #333333;
$md-primary-contrast      : #e5e5e5;
$md-primary-light         : #424242;


/* Accent Colours
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$md-accent-dark           : #910000;
$md-accent                : #e90000;
$md-accent-contrast       : #ffafaf;
$md-accent-light          : #ff2e2e;


/* Warn Colours
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$md-warn-dark             : #feb360;
$md-warn                  : #e89538;
$md-warn-contrast         : #9f5605;


/* Info Colours
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$md-info-dark             : #feb360;
$md-info                  : #e89538;
$md-info-contrast         : #9f5605;
