/* Navbar Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$navbar-height:               36px;
$navbar-padding:              16px;

$navbar-font-size:            18px;
$navbar-font-spacing:         0.005em;
$navbar-font-weight:          400;
$navbar-background-color:     rgba(34, 34, 34, 1.00);

$navbar-font-color:           rgba(255, 255, 255, 1.00);
$navbar-font-color-secondary: rgba(255, 255, 255, 0.60);
$navbar-font-color-disabled:  rgba(255, 255, 255, 0.20);
$navbar-font-color-accent:    $gpq-color-base-blue;
$navbar-font-color-alert:     $gpq-color-base-red;

$navbar-button-margin:        6px;
$navbar-button-height:        24px;
$navbar-button-width:         24px;
$navbar-button-padding:       2px;

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

gp-navbar {

  box-sizing: border-box;
  display: block;

  font-size: $navbar-font-size;

  width: 100%;
  height: $navbar-height;
  min-height: $navbar-height;
  max-height: $navbar-height;

  background-color: $navbar-background-color;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }


  .gp-button {
    height: $navbar-button-height;
    width:  $navbar-button-width;

    margin-top:     0px;
    margin-bottom:  0px;
    padding-left:   0px;
    padding-right:  0px;

    border-radius: 50%;
    border: none;
    background-color: transparent;


    &:first-child {
      margin-left:  ( 0 - $navbar-button-margin);
    }
    &:last-child {
      margin-right: ( 0 - $navbar-button-margin);
    }

    &.menu {
      padding-top: ($navbar-button-padding + 2.25);
    }
    &.bitcoin {
      padding-top: ($navbar-button-padding);
      >svg {
        @include absolute-height($navbar-button-height - 3);
        @include absolute-width($navbar-button-width - 3);
      }
    }
    &.paypal {
      padding-top: ($navbar-button-padding + 0.33);
      >svg {
        @include absolute-height($navbar-button-height - 6);
        @include absolute-width($navbar-button-width - 6);
      }
    }
    &.twitter {
      padding-top: ($navbar-button-padding + 1.00);
      >svg {
        @include absolute-height($navbar-button-height - 4);
        @include absolute-width($navbar-button-width - 4);
      }
    }
    &.config {
      padding-top: ($navbar-button-padding + 2.25);
    }
    &.fullscreen {
      padding-top: ($navbar-button-padding + 1.00);
    }
  }


  // Buttons
  // ------------------------------
  .button {
    margin: 0 $navbar-button-margin;
    height: $navbar-button-height;
    width: $navbar-button-width;
    padding-left: 0px;
    padding-right: 0px;

    border-radius: 50%;

    background-color: transparent;
    border: none;

    cursor: pointer;


    &:first-child {
      //margin-left: ($navbar-button-margin * 1.25);
    }
    &:last-child {
      //margin-right: ($navbar-button-margin * 1.25);
    }


  }


  .navbar {
    font-size: $navbar-font-size;
    letter-spacing: $navbar-font-spacing;
    font-weight: $navbar-font-weight;
    color: $navbar-font-color;

    display: flex;
    align-items: center;
    flex-direction: row;

    width: 100%;
    height: $navbar-height;
    max-height: $navbar-height;

    padding: 0 $navbar-padding;
    margin: 0;

    .brand {
    }

    h1, h2, h3 {
      font-size: inherit;
      font-weight: inherit;
      margin: inherit;
      &.brand.name {
        display: inline-block;
        cursor: pointer;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
    }

    @media screen and (-ms-high-contrast: active) {
      border-bottom: 1px solid #fff;
    }

  }

  .brand {
    display: inline-block;
    cursor: pointer;
    &.stripes,
    &.name {
      &:hover,
      &:active {
        // Gonna change this to something prettier
        background-color: #222;
      }
    }
  }

}

/*
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  background-color: #222;

  &>a {
    float: left;
    color: lightgrey;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
  }

  ul {
    float: left;
    padding: 0;
    margin: 0;

    li {
      float: left;
      position: relative;
      display: block;

      a {
        color: white;
        position: relative;
        display: block;
        padding: 15px;
        line-height: 20px;
      }
      &.active a {
        background-color: black;
      }
    }
  }
}
*/
